<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-social-embed"
        version="0.0.1">

  <name>Social Embeds</name>
  <description>Cordova Social Embeds Plugin</description>
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/social-embeds.js" target="js/social-embeds.js"/>

  <js-module src="www/social-embeds.js" name="SocialEmbeds">
    <clobbers target="SocialEmbeds" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SocialEmbeds">
        <param name="android-package" value="org.apache.cordova.socialembeds.SocialEmbeds"/>
      </feature>
    </config-file>

    <source-file src="src/android/SocialEmbeds.java" target-dir="src/org/apache/cordova/socialembeds"/>
  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/widget">
      <feature name="SocialEmbeds">
        <param name="ios-package" value="CDVSocialEmbeds" />
      </feature>
    </config-file>

    <header-file src="src/ios/CDVSocialEmbeds.h" target-dir="CDVSocialEmbeds"/>
    <source-file src="src/ios/CDVSocialEmbeds.m" target-dir="CDVSocialEmbeds"/>
  </platform>

</plugin>
